<ad>
	<div class={'op:0.8 hv-op:1': !!ad && !!ad.groupName}>
	  <a 
	  	if={!!ad} 
	  	target="_blank" 
	  	href="{link(ad)}" 
	  	class="ps:rel dp:tb tl:fx w:100pc m-b:15px fux-boxsh hov-brd-c:D3D1D1 br:1px of:hd bg:fff fux-fadeIn mnh:200px">
	  	
				<div class="sm-dp:td ps:rel sm-w:40pc w:100pc mnh:150px bg-sz:cv bg-ps:c bg-rp:nrp sm-m:0 bd-r:1px-sd-f2f2f2" style="background-image: url({!!imgLoaded && ad.img})">
					<i if={!!ad.img && !imgLoaded} class="fux-spinner" />
					<i if={!ad.img} class="fu-image fux-center fs:250pc c:f2f2f2" />
				</div>
				<div class="sm-dp:td p:15px-20px va:m ta:l sm-w:60pc w:100pc ps:rel ff:Roboto c:404040">
					<h2 class="fw:400 fs:125pc lh:1.25 c:222 p-b:10px">
					  <span if={!!ad.price} class="c:main p-r:10px">{ad.price}</span>
					  {!!ad.title && title(ad.title)}
					</h2>
					<p if={!!ad.desc} class="p-b:10px c:222 fs:85pc">{desc(ad.desc)}</p>
					<p class="c:999 fs:80pc md-brd-t:1px-sd-e5e5e5 p-t:10px">
						<span class="p-r:10px ws:np">
							<i class="fu-clock m-r:2px"/>{moment(ad.updated).fromNow()}
						</span>
						<span class="p-r:10px ws:np">
							<i class="fu-head m-r:5px"/>{ad.user}
						</span>
						<span if={!!ad.loc} class="p-r:10px ws:np">
							<i class="fu-location m-r:5px"/>{ad.loc}
						</span>
						<span class="ws:np" if={!!ad.groupName}>
							<i class="fu-facebook2 m-r:5px c:3b5998"/>{ad.groupName}
						</span>
					</p>
				</div>
				
				<div if={!!json && json.user && ad.userId === json.user.id} class="ps:ab r,b:0 c:fff p:3px">
				  <i onclick={delete} class="fu-trash p:10px dp:ib bg:dark br:5px"/>
				</div>
				
				<div class="w,h,lh:100pc bg:fffa6 ps:ab t,l:0 br:5px" if={removeInProgress}>
		      <i class="fux-spinner"/>
		    </div>
		</a>
	</div>
	<script>
	  
	  this.classStr = 'ps:rel dp:tb tl:fx w:100pc m-b:20px brd:2px-sd-e5e5e5 hov-brd-c:D3D1D1 br:5px of:hd bg:fff';
	  this.removeInProgress = null;
	  this.imgLoaded = null;
	  this.ad = this.opts && this.opts.ad;
	  
	  this.on('mount', function() {
	  	
			if(this.ad && this.ad.img){
	  	
		  	let self = this;
		  	let img = new Image();
		  	
				img.onload = function(){
					self.imgLoaded = self.ad.img;
					self.update();
				};
				
				img.src = this.ad.img;
			}
		});
		
		this.link = function(ad){
			return ad.link ||
			'https://facebook.com/'+ (ad.provider && ad.userId || ad.id);
		}
		
		this.title = function(title){
			return _.truncate(title, {'length': 150, 'separator': ' '})
		}
		
		this.desc = function(desc){
			return _.truncate(desc, {'length': 200, 'separator': ' '})
		}
		
	  this.delete = function(e){
	    e.preventDefault();
	    e.stopPropagation();
	    this.opts.store.adRemove(this.opts.ad);
	    
	    this.removeInProgress = true;
	    this.update();
    }
  </script>
</ad>