<app>
  <div ref="page"> </div>
  <script>
		
		
    route(function(collection, action, id){
      //console.log(collection, action, id);
      collection = collection === 'post' ? collection : 'empty';
      riot.mount(this.refs.page, collection, {view: action, id: id, store: this.opts.store})
    }.bind(this));
  </script>
</app>