<feed>
  
  <div if={false} class="dp:tb md-tl:fix w:100pc m-b:15px m-t:5px fw:400 bd-b:greylight-1px-sld">
    <a 
      each={tab, key in tabs.list}
      onclick={tabOpen(tab)} 
      class={
        'dp:tc p:8px bd-b:1px-sld c:dark': true, 
        'bd-c:grey': key !== tabs.active, 
        'bd-c:dark': key === tabs.active 
      }>
        {tab.title}
    </a>
  </div>
  
  <filtering if={!isLoading} store={opts.store} />
  
  <div if={!!isLoading} class="p-t:20pc ps:rel fux-fadeIn">
    <span class="bg:fff ps:ab br:50pc fux-center lh:50px fw:400 c:dark fs:110pc">{feed.length}</span>
    <i class="fux-spinner" />
  </div>
  <div if={!isLoading} each={ad, i in feed}>
    <ad store={parent.opts.store} ad={ad} if={i < (showAds * page)} />
	</div>
	
	<a 
	  if={((showAds * page) < feed.length) && !isLoading} 
	  onclick={more} 
	  class="dp:bk c:dark p:15px m-t:15px bg:greylight br:3px bd-t:sld-1px-white bd-b:1px-sld-grey fw:400 crs:pt">
	    Rodyti daugiau
	    <i class="fu-add-to-list p-l:10px" />
	</a>
	
  <script>
    this.isLoading = true;
    this.store = this.opts.store;
    this.feed = json.feed;
    this.showAds = 15;
    this.page = 1;
    this.delay = 500;
    this.tabs = {
      active: 'new',
      list: {
        new: { name: 'new', title: 'naujausi', route: '' },
        group: { name: 'group', title: 'grupes', route: 'group' },
        main: { name: 'main', title: 'pagrindiniai', route: 'main' },
        my: { name: 'my', title: 'mano', route: 'my'},
      }
    };
		
		this.more = function(e){
		  this.page++;
		  this.update();
		}
		
		this.tabOpen = function(tab){
		  return function(e){
		    this.tabs.active = tab.name;
		    route(tab.route);
		    this.update();
		  }.bind(this)
		}
    
    this.on('mount', function() {
      setTimeout(function() {
        this.isLoading = null;
        this.update();
      }.bind(this), this.delay);
    });
    
    this.store.on('feedLoadEvent', function(res){
      switch(res.state){
        case 'loading':
          this.isLoading = true;
        break;
        case 'success':
          this.isLoading = null;
          this.feed = res.data;
        break;
      }
      this.update();
    }.bind(this));
    
    this.opts.store.on('adPostEvent', function(res){
      switch(res.state){
        case 'success':
          this.feed = res.data;
          this.update();
          break;
      }
    }.bind(this));
    
    this.opts.store.on('adRemoveEvent', function(res){
      switch(res.state){
        case 'success':
          this.feed = res.data;
          this.update();
          break;
      }
    }.bind(this));
    
    this.store.on('filter', function(data){
      
      if(!data.filter || data.filter.length < 1){
        this.feed = json.feed;
        this.update();
        return;
      }
      
      /*this.feed = [];
      this.update();*/
      
      this.feed = _.filter(json.feed, function(ad){
        return (!!ad.loc && _.includes(ad.loc.toLowerCase(), data.filter)) 
            || (!!ad.title && _.includes(ad.title.toLowerCase(), data.filter))
            || (!!ad.price && _.includes(ad.price.toLowerCase(), data.filter));
      });
      this.update();
    }.bind(this));
    
  </script>
</feed>