<filtering>
	<div class="dp:tb w:100pc bg:fff br:5px m-b:15px">
		<div 
		  onclick={isClearable && clearFilter || refreshFeed} 
		  class="dp:tc bg:dark c:fff br:3px-0-0-3px w:auto p:0-20px fs:110pc crs:pnt">
        <i if={!isClearable} class="fu-reload" />
        <i if={isClearable} class="c:main fu-delete" />
    </div>
		<form class="dp:tc w:100pc" onsubmit={submit}>
    	<input 
    	  type="text" 
    	  name="filter" 
    	  onkeyup={filter} 
    	  value={filterValue} 
    	  class="dp:bk fs:100pc br:0-3px-3px-0 w:100pc brd:1px-sld-D3D1D1 brd-l:0 p:12px-20px ol:none fc-bd-c:dark" 
    	  placeholder="pvz: telsiai"/>
    </form>
  </div>
  <script>
    
    this.delay = 1000;
    this.timer = 0;
    this.filterValue = '';
    this.isClearable = false;
    
    this.clearFilter = function(){
      this.filterValue = '';
      this.isClearable = false;
      this.opts.store.trigger('filter', {filter: ''});
      this.update();
    }
    
    this.refreshFeed = this.opts.store.feedLoad;
    
    this.submit = function(e){
      e.preventDefault();
      e.target.querySelector('input[name="filter"]').blur()
      //e.target.input.blur();
    }
    
  	this.filter = function(e){
  	  if(e.target.value === this.filterValue) return;
  	  
  	  this.filterValue = e.target.value;
  	  this.isClearable = this.filterValue && this.filterValue.length > 0;
      
      this.update();
      clearTimeout(this.timer);
      
      this.timer = setTimeout(function(){
        this.filterValue = e.target.value;
        clearTimeout(this.timer);
        
        this.opts.store.trigger('filter', {filter: e.target.value && e.target.value.toLowerCase()});
        
      }.bind(this), this.delay);
  	}
  	
  </script>
</filtering>