<post>
  <div onclick={home} class="ps:fx w,h:100pc t,l:0 bg:000a8 z:10 m:auto fux-fadeIn" />
  <div class="md-w:70pc w:96pc mh:400px ps:ab br:5px bg:f6f7f4 md-m:30px-15pc m:30px-2pc z:11 t,l:0 fux-fadeIn">
    <div class="ps:rel">
      <div class="w:100pc va:b c:000l30_i fs:120pc">
        <div class="w:100pc bg:dark c:white c:white_i p:20px dp:ib">
          <i class="fu-tag"></i>
          Parduok
        </div>
        <div if={false} class="w:33pc bg:white p:20px dp:ib">
          <i class="fu-megaphone"></i>
          Pirk
        </div>
        <div if={false} class="w:33pc bg:white p:20px dp:ib">
          <i class="fu-slideshare"></i>
          Paslaugos
        </div>
      </div>
      
      <div class="fs:100pc_input p:15px_input br:5px_input dp:bk_input w:100pc_input bd:2px-sld-white_input m-b:10px_input p-rl:10pc m-t:30px ol:none_input">
        <input name="title" ref="title" placeholder="ka parduodi?" class="fc-bd-c:main">
        <input name="price" ref="price" placeholder="kokia kaina?" class="fc-bd-c:main">
        <input name="loc" ref="loc" placeholder="kurioje vietoveje?" class="fc-bd-c:main">
        <textarea name="ref" ref="desc" class="p:15px w:100pc fs:100pc br:5px bd:2px-sld-white fc-bd-c:main ol:none mh:100px" placeholder="prekes aprasymas"></textarea>
      </div>
      
      <div class="m-tb:20px">
        <label onclick={imgInProgress && stop} if={!img} class="dp:ib w:160px h:130px br:10px bd:2px-ds-fffd20 c:fffd25 ps:rel">
          <input class="dp:n" name="img" type="file" onchange={uploadImg} />
          <div class="p-t:30px">
            <i class="fu-camera fs:220pc"></i>
            <p class="fw:400">Prideti nuotrauka</p>
          </div>
          
          <div class="w,h,lh:100pc bg:eaeaea ps:ab t,l:0 br:5px" if={imgInProgress}>
            <i class="fux-spinner"/>
          </div>
          
        </label>
        <img if={img} src={img} class="dp:ib w:160px br:10px bd:2px-ds-fffd20" />
      </div>
      
      <div if={error} onclick={clearError}>
        <span class="bg:000 p:5px-10px-5px-40px c:fff br:5px">{error} <i class="m-l:30px fu-cross" /></span>
      </div>
      
      <div class="m-t:20px p-b:20px crs:pnt_button">
        <button onclick={home} class="bd:0 p:15px-30px br:5px fs:100pc bg:fffd10">
          <i class="fu-cross"></i>
          autsaukti
        </button>
        <button onclick={submit} class="bd:0 p:15px-50px br:5px fs:100pc bg:5FBA7D c:white">
          <i class="fu-check"></i>
          skelbti
        </button>
      </div>
      
      <div if={postInProgress} class="w,h,lh:100pc bg:fffa6 ps:ab t,l:0 br:5px">
        <i class="fux-spinner"/>
      </div>
      
      <div if={!!json && !json.user} class="w,h,lh:100pc lh:100pc bg:fffa5 ps:ab t,l:0 br:5px" if={postInProgress}>
        <h2 class="m-t:30pc m-b:20px c:dark">Norint ideti skelbima turite prisijungti</h2>
        <a if={!!json && !json.user} href="/login" class="p:10px-32px lh:40px bg:dark c:fff br:5px fw:400 bd-b:2px-sld-000">
      		<span class="">Prisijunk naudojant</span>
      		<i class="fu-facebook2 p-l:5px"></i>
      	</a>
      </div>
      
    </div>
    
  </div>
  
  <button onclick={submit} class="bd:0 p:15px-50px br:5px fs:100pc bg:5FBA7D c:white">
    <i class="fu-check"></i>
    skelbti
  </button>
  
  <script>
    this.message = 'Talpinti skelbima';
    this.img = null;
    this.imgInProgress = null;
    this.postInProgress = null;
    this.error = null;
    
    this.home = function(e){
      e && e.stopPropagation();
      route('/');
    }
    
    this.stop = function(e){
      e.stopPropagation();
    }
    
    this.clearError = function(e){
      this.error = null;
      this.update();
    }
    
    this.uploadImg = function(e){
    
      const files = e.dataTransfer && e.dataTransfer.files || e.target.files;
      const file = _.first(files);
      let self = this;
      e.preventDefault();
      e.stopPropagation();
      
      //if(!file) return this.onShowError('file can not be found');
      
      /*
      if(!_.includes(['image/png', 'image/jpeg'], file.type)) 
        return this.onShowError(`file format is not supported ${file.type}`);
      */
      
      const formData = new FormData();
      formData.append('image', file);
      
      this.imgInProgress = true;
      
      
      var req = superagent('post', 'https://api.imgur.com/3/image');
      req.set('Authorization', 'Client-ID 6fc3543fce6c408');
      req.send(formData);
      //req.on('progress', (e) => console.log('Percentage done: ', e.percent));
      
      req.end(function(err, apiRes){
        //if(err) return this.onShowError(apiRes.body.data.error);
        self.imgInProgress = null;
        self.img = apiRes.body.data.link;
        self.update();
      });
    }
    
    this.opts.store.on('adPostEvent', function(res){
      switch(res.state){
        case 'loading':
          this.postInProgress = true;
          break;
        case 'success':
          this.postInProgress = null;
          this.home();
          break;
        case 'error':
          this.postInProgress = null;
          this.error = res.err;
          break;
      }
      this.update();
    }.bind(this));
    
    this.submit = function(e){
      e.preventDefault();
      e.stopPropagation();
      this.opts.store.adPost({
        title:  this.refs.title.value,
        price:  this.refs.price.value,
        loc:    this.refs.loc.value,
        desc:   this.refs.desc.value,
        img:    this.refs.img,
      });
      
      //console.log(self);
      /*superagent
        .post('/api/ad')
        .send({
          title: self.refs.title.value,
          price: self.refs.price.value,
          loc: self.refs.loc.value,
          desc: self.refs.desc.value,
          img: self.refs.img,
        })
        .end(function(err, apiRes){
          //console.log('/ad');
          apiRes = apiRes.body;
          //console.log('API =>', apiRes);
          self.postInProgress = null;
          if(!apiRes.ok) {
            self.error = apiRes.err;
            self.update();
          } else {
            json.feed = apiRes.data;
            self.home();
            riot.update();
          }
        });*/
    }
    
  </script>
</post>