<profile>
  <div class="ps:ab t:16px r:15px c:dark_a">
  	<a if={!json.user} href="/login" class="p:10px-32px lh:40px bg:white br:3px fw:400 bd-b:2px-sld-000">
  		<span class="">Prisijunk naudojant</span>
  		<i class="fu-facebook2 p-l:5px"></i>
  	</a>
  	
  	<span if={json.user} class="c:fff p-r:10px dp:ib">
  	  {json.user.name}
  	</span>
  	<a if={json.user} href="#" onclick={logout} class="dp:ib p:10px-20px bg:white br:3px fw:400 bd-b:2px-sld-000">
  		<span class="">Atsijunk</span>
  		<i class="fu-power p-l:5px"></i>
  	</a>
	</div>
  <script>
    this.logout = function(e){
      
      superagent
        .get('/logout')
        .end(function(err, apiRes){
          apiRes = apiRes.body;
          //console.log('API =>', apiRes);
          if(apiRes.ok){
            delete json.user;
            riot.update();
          }
          //console.log(json);
        });
    }
  </script>
</profile>